<html>

  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

    <audio controls autoplay>
      <source src="shot.mp3" type="audio/mpeg">
    </audio>

    <h3>Its your turn <%= @current_player.name.capitalize %>...</h3>

    <% if @message %>
      <h1><%= @message %></h1>
    <% end %>

    <table class="center">
      <% @opponent.board.grid.each_slice(10) do |row|%>
        <tr>
          <%row.each do |cell| %>
            <% if cell[1].hit == true && cell[1].content.class == Ship && cell[1].content.sunk? == true %>
              <td id="button_grey"> <a href="/shoot?cell=<%=cell[0]%>"></a> </td>
            <% elsif cell[1].hit == true && cell[1].content.class == Ship %>
              <td id="button_red"> <a href="/shoot?cell=<%=cell[0]%>"></a> </td>
            <% elsif cell[1].hit == true && cell[1].content.class == Water %>
              <td id="button_blue"> <a href="/shoot?cell=<%=cell[0]%>"></a> </td>
            <% else %>
              <td id="button"> <a href="/shoot?cell=<%=cell[0]%>"></a> </td>
            <% end %>
          <%end%>
        </tr>
      <%end%>
    </table>

  </body>
  
</html>